numpy~=1.24.3
setuptools~=67.6.1
pandas~=2.0.1
sklearn~=0.0.post5
scikit-learn~=1.2.2
optuna~=3.1.1
mlflow~=2.3.2
numpyencoder~=0.3.0
joblib~=1.2.0
rich~=13.3.5
typer~=0.9.0
fastapi~=0.95.1
pydantic~=1.10.7
dvc~=2.57.3